* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
/* 顶部导航 */
.nav {
    width: 100%;
    height: 147px;
    position: absolute;
    top: 100px;
    background: url(../images/nav-bg.png) repeat-x center top;
    z-index: 10;
}

.nav-wrap {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.item1 {
    float: left;
}

.nav-logo {
    display: inline-block;
    width: 241px;
    height: 0;
    padding-top: 147px;
    background: url(../images/logo-top.png) no-repeat;
    overflow: hidden;
}

.nav-list {
    margin-left: 20px;
    margin-top: 23px;
}

.nav-list li {
    line-height: 20px;
    float: left;
}

.nav-list li>a {
    display: inline-block;
    width: 81px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
}

.list-item1 a {
    background: url(../images/icon.png) no-repeat -10px -10px;
}
.list-item1 a:hover {
    background: url(../images/icon.png) no-repeat -10px -35px;
}
.list-item2 a {
    background: url(../images/icon.png) no-repeat -100px -10px;
}
.list-item2 a:hover {
    background: url(../images/icon.png) no-repeat -100px -35px;
}
.list-item3 a {
    background: url(../images/nav-xmtj.png) no-repeat;
}
.list-item3 a:hover {
    background: url(../images/nav-active-xmtj.png) no-repeat;
}

.list-item4 a {
    background: url(../images/sprite.png) no-repeat 0px -145px;
}
.list-item4 a:hover {
    background: url(../images/nav-active-xiuxian.png) no-repeat;
}

.list-item5 a {
    background: url(../images/nav-taikoo.png) no-repeat;
}
.list-item5 a:hover {
    background: url(../images/icon.png) no-repeat -373px -35px;
}

.list-item7 a {
    background: url(../images/sprite.png) no-repeat 0px -80px;
}
.list-item7 a:hover {
    background: url(../images/nav-active-cdk.png) no-repeat;
}

.nav-list li:after {
    content:'/';
    color: #9bc0de;
    font-size: 20px;
    text-indent: 0;
    vertical-align: middle;
    margin: 0 20px;
}

.nav-list .list-item7:after {
    content:''; 
}

/* 进入论坛 */
.nav-forum {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/icon.png) no-repeat -10px -60px;
    margin-top: -10px;
    margin-left: -10px;
}

.nav-appoint {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/left-nav-download.png);
    margin: -10px -100px 0 10px;
}


/* 二、kv */
.kv {
    position: relative;
    height: 1416px;
    margin-top: -100px;
    overflow: hidden;
    background: url(../images/bg-1.jpg) no-repeat center 0;
}
.kv-bg {
    display: block;
    height: 938px;
    margin-top: 100px;
    min-width: 1600px;
    max-width: 1920px;
    background: url(../images/pagedetail-kv.jpg) no-repeat center 0;
}

/* 音乐logo */
.kv-musiclogo {
    position: absolute;
    top: 90px;
    left: 1200px;
    width: 32px;
    height: 32px;
    background-image: url(../images/spr.png);
    background-position: 71px -220px;
}

/* 播放视频 */
.kv-play {
    display: block;
    position: absolute;
    top: 520px;
    left: 1085px;
    width: 69px;
    height: 69px;
}

.kv-play span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/video.png);
    animation: playRotate 15s linear infinite;
}

.kv-play i {
    position: absolute;
    top: 22px;
    left: 28px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/playvideo.png);
    background-repeat: no-repeat;
}

@keyframes playRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 三、仙履奇闻 */
.xlqw {
    position: absolute;
    top: 824px;
    left: 300px;
    right: 0;
    width: 1200px;
    height: 679px;
    margin: auto;
    z-index: 1;
}

.xlqw-wrapper {
    position: relative;
    width: 1200px;
    height: 662px;
    background: url(../images/kv-text-box-bg.png) no-repeat center 0;
    box-sizing: border-box;
}

.xlqw-top {
    position: relative;
    width: 100%;
    height: 407px;
}

.xlqw-top-left {
    position: absolute;
    float: left;
    top: 30px;
    left: 24px;
    width: 238px;
    background: url(../images/kv-ios-bg.png) no-repeat;
}

.xlqw-erweima {
    display: block;
    width: 190px;
    height: 190px;
    background: url(../images/kv-qr.png) no-repeat 0 0/100%;
    margin: 10px 24px 0;
}

.xlqw-erweima-line {
    position: absolute;
    right: 17px;
    width: 205px;
    height: 15px;
    animation: erweima-line 2s linear infinite alternate;
    z-index: 1;
}

@keyframes erweima-line {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(185px);
    }
}

.xlqw-list {
    width: 238px;
    height: 171px;
    margin: 10px auto 0;
}

.inline-center {
    text-align: center;
}

.kv-ios-download {
    display: inline-block;
    width: 197px;
    height: 56px;
    margin-top:                            3px;
    background: url(../images/kv-ios-download.png) no-repeat;
}

.kv-android-download {
    display: inline-block;
    width: 197px;
    height: 50px;
    margin-top: 3px;
    background: url(../images/kv-android-download.png) no-repeat;
}

.kv-pc-download {
    display: inline-block;
    width: 197px;
    height: 56px;
    margin-top: 3px;
    background: url(../images/kv-pc-download.png) no-repeat;
}

/* 右边 */
.xlqw-top-right {
    float: right;
    position: relative;
    top: 25px;
    right: 9px;
    width: 905px;
    height: 385px;
    overflow: hidden;
}

.xlqw .menc1 {
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 902px;
    height: 40px;
    background-color: #000;
    opacity: 0.3;
}

.adbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 902px;
    /* height: 20px; */
    z-index: 2;
    justify-content: space-around;
}

.adbtn a {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 40px;
    line-height: 40px;
    color: #fefd95;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-left: 332px;
}

/* 下部 */
.xlqw-bottom {
    position: relative;
    margin-top: 20px;
    width: 1013px;
    height: 229px;
}

.xlqw-bottom-tab {
    float: left;
    width: 148px;
    height: 198px;
    margin: 20px 0 0 30px;
}

.xlqw-bottom-tab li:not(:last-of-type) {
    margin-bottom: 10px;
}

.xlqw-bottom-tab-btn {
    width: 148px;
    height: 42px;
    line-height: 42px;
    color: #4671b3;
    background: url(../images/sprite.png);
    background-position: -167px -247px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.active.xlqw-bottom-tab-btn {
    color: #fff;
    background-position: -166px -298px;
}

.xlqw-bottom-box ul {
    float: right;
    width: 823px;
    height: 217px;
    padding: 0 34px;
    margin: 35px 0 0;
    box-sizing: border-box;
}

.xlqw-bottom-box ul li {
    cursor: pointer;
}

.xlqw-bottom-box ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.xlqw-bottom-box ul li  a {
    color: #fff;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 16px;
}

.xlqw-bottom-box ul li>a:nth-child(2):hover {
    text-decoration: underline;
}

.xlqw-time {
    float: right;
    color: #c7e5fe;
    font-size: 14px;
    line-height: 1.3;
}

.xlqw-bottom-more {
    display: inline-block;
    position: absolute;
    top: 70px;
    right: -150px;
    padding-top: 100px;
    width: 100px;
    overflow: hidden;
}

/* 四、仙魔秩闻 */
.fairy {
    position: relative;
    height: 992px;
    background: url(../images/bg-2.webp) no-repeat 0 0;
    overflow: hidden;
}

.fairy-title {
    display: block;
    width: 497px;
    padding-top:88px;
    margin: 150px auto 0;
    background: url(../images/sprite.png);
    background-position: 0 -528px;
}

.fairy-list {
    width: 300px;
    height: 45px;
    margin: 30px auto 0;
}

.fairy-list li:not(:last-of-type) {
    margin-right: 20px;
}

.fairy-btn-bg {
    float: left;
    width: 138px;
    height: 45px;
    line-height: 45px;
    background: url(../images/fairy-btn-bg.png);
    color: #4c6ea2;
}

.fairy-btn-bg a {
    display: inline-block;
    margin-top: 10px;
    width: 110px;
    height: 28px;
    cursor: pointer;
}

.active.fairy-btn-bg{
    background: url(../images/taikoo-active-btn-bg.png);
    color: #fff;
}

.fairy-list li span {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 10px;
}

.fairy-list li:first-of-type span {
    width: 110px;
    height: 28px;
    background: url(../images/fairy-job-btn.png);
    text-indent: -9999px;
}

.fairy-list li:first-of-type.active span {
    background: url(../images/fairy-job-active-btn.png);
}

.fairy-list li:last-of-type span {
    width: 112px;
    height: 28px;
    background: url(../images/fairy-friends-btn.png);
}

.fairy-list li:last-of-type.active span {
    background: url(../images/fairy-friends-active-btn.png);
}

/* fairy-job */
.fairy-job {
    display: block;
    position: relative;
    width: 1400px;
    height: 670px;
    margin: 0 auto;
    padding-top: 40px;
    z-index: 3;
    box-sizing: border-box;
}

.job-tab {
    position: absolute;
    left: 150px;
    width: 112px;
    z-index: 3;
    cursor: pointer;
    font-size: 24px;
}

.fairy-tab-btn-bg {
    width: 112px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 38px;
    text-align: center;
    color: #618ed5;
    background: url(../images/sprite.png) no-repeat;
    background-position: -209px -111px;
}

.active.fairy-tab-btn-bg {
    background-position: -208px -170px;
    color: #fff;
}


/* 查看更多 */
.look-more-btn {
    position: absolute;
    left: 150px;
    bottom: 150px;
    width: 112px;
    padding-top: 48px;
    background: url(../images/look-more-btn.png)no-repeat;
}

.job-wrap {
    position: absolute;
    right: 120px;
    width: 752px;
    height: 627px;
    background: url(../images/fairy-img-bg.png) no-repeat 0 0/100% 100%;
}

.wrap-text {
    position: absolute;
    top: -20px;
    left: -220px;
    width: 211px;
    height: 560px;
    background: url(../images/fairy-wrap-text1.png)no-repeat;
    text-indent: -9999px;
    animation: textTop 1s linear;
}

@keyframes textTop {
    0% {
        opacity: 0;
        transform: translate3d(0,-200px,0);
    }
    100% {
        opacity: 1;
    }
}

.fairy-video-bg {
    display: block;
    position: absolute;
    top: 495px;
    left: -312px;
    width: 145px;
    height: 145px;
    z-index: 10;
    cursor: pointer;
}

.fairy-video-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    transform: scale(0.8);
    animation: rightIn 1s;
}

.fairy-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 39px;
    height: 45px;
    margin: -22.5px 0 0 -20px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -423px 0;
    z-index: 1;
}

.fairy-npc-img {
    position: absolute;
    top: -78px;
    right: -150px;
    width: 949px;
    height: 778px;
    transform: scale(.8);
    animation: rightIn 1s;
}

@keyframes rightIn {
    0% {
        opacity: 0;
        transform: translate3d(200px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: rotate3d(0, 0, 0);
    }
}
