* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
/* 顶部导航 */
.nav {
    width: 100%;
    height: 147px;
    position: absolute;
    background: url(../images/nav-bg.png) repeat-x center top;
    z-index: 10;
}

.nav-wrap {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.item1 {
    float: left;
}

.nav-logo {
    display: inline-block;
    width: 241px;
    height: 0;
    padding-top: 147px;
    background: url(../images/logo-top.png) no-repeat;
    overflow: hidden;
}

.nav-list {
    margin-left: 20px;
    margin-top: 23px;
}

.nav-list li {
    line-height: 20px;
    float: left;
}

.nav-list li>a {
    display: inline-block;
    width: 81px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
}

.list-item1 a {
    background: url(../images/icon.png) no-repeat -10px -10px;
}
.list-item1 a:hover {
    background: url(../images/icon.png) no-repeat -10px -35px;
}
.list-item2 a {
    background: url(../images/icon.png) no-repeat -100px -10px;
}
.list-item2 a:hover {
    background: url(../images/icon.png) no-repeat -100px -35px;
}
.list-item3 a {
    background: url(../images/nav-xmtj.png) no-repeat;
}
.list-item3 a:hover {
    background: url(../images/nav-active-xmtj.png) no-repeat;
}

.list-item4 a {
    background: url(../images/sprite.png) no-repeat 0px -145px;
}
.list-item4 a:hover {
    background: url(../images/nav-active-xiuxian.png) no-repeat;
}

.list-item5 a {
    background: url(../images/nav-taikoo.png) no-repeat;
}
.list-item5 a:hover {
    background: url(../images/icon.png) no-repeat -373px -35px;
}

.list-item7 a {
    background: url(../images/sprite.png) no-repeat 0px -80px;
}
.list-item7 a:hover {
    background: url(../images/nav-active-cdk.png) no-repeat;
}

.nav-list li:after {
    content:'/';
    color: #9bc0de;
    font-size: 20px;
    text-indent: 0;
    vertical-align: middle;
    margin: 0 20px;
}

.nav-list .list-item7:after {
    content:''; 
}

/* 进入论坛 */
.nav-forum {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/icon.png) no-repeat -10px -60px;
    margin-top: -10px;
    margin-left: -10px;
}

.nav-appoint {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/left-nav-download.png);
    margin: -10px -100px 0 10px;
}


/* 二、kv */
.kv-bg {
    height: 938px;
    /* margin-top: 100px; */
    min-width: 1600px;
    max-width: 1920px;
    background: url(../images/pagedetail-kv.jpg) no-repeat center 0;
}

/* 音乐logo */
.kv-musiclogo {
    position: absolute;
    top: 90px;
    left: 1200px;
    width: 32px;
    height: 32px;
    background-image: url(../images/spr.png);
    background-position: 71px -220px;
}

/* 播放视频 */
.kv-play {
    display: block;
    position: absolute;
    top: 520px;
    left: 1085px;
    width: 69px;
    height: 69px;
}

.kv-play span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/video.png);
    animation: playRotate 15s linear infinite;
}

.kv-play i {
    position: absolute;
    top: 22px;
    left: 28px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/playvideo.png);
    background-repeat: no-repeat;
}

@keyframes playRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 三、仙履奇闻 */
.xlqw {
    position: absolute;
    top: 730px;
    left: 0;
    right: 0;
    width: 1200px;
    height: 679px;
    margin: auto;
    z-index: 1;
}

.xlqw-wrapper {
    position: relative;
    width: 1200px;
    height: 662px;
    background: url(../images/kv-text-box-bg.png) no-repeat center 0;
    box-sizing: border-box;
}

.xlqw-top {
    position: relative;
    width: 100%;
    height: 407px;
}

.xlqw-top-left {
    position: absolute;
    float: left;
    top: 30px;
    left: 24px;
    width: 238px;
    background: url(../images/kv-ios-bg.png) no-repeat;
}

.xlqw-erweima {
    display: block;
    width: 190px;
    height: 190px;
    background: url(../images/kv-qr.png) no-repeat 0 0/100%;
    margin: 10px 24px 0;
}

.xlqw-erweima-line {
    position: absolute;
    right: 17px;
    width: 205px;
    height: 15px;
    animation: erweima-line 2s linear infinite alternate;
    z-index: 1;
}

@keyframes erweima-line {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(185px);
    }
}

.xlqw-list {
    width: 238px;
    height: 171px;
    margin: 10px auto 0;
}

.inline-center {
    text-align: center;
}

.kv-ios-download {
    display: inline-block;
    width: 197px;
    height: 56px;
    margin-top:                            3px;
    background: url(../images/kv-ios-download.png) no-repeat;
}

.kv-android-download {
    display: inline-block;
    width: 197px;
    height: 50px;
    margin-top: 3px;
    background: url(../images/kv-android-download.png) no-repeat;
}

.kv-pc-download {
    display: inline-block;
    width: 197px;
    height: 56px;
    margin-top: 3px;
    background: url(../images/kv-pc-download.png) no-repeat;
}

/* 右边 */
.xlqw-top-right {
    float: right;
    position: relative;
    top: 25px;
    right: 9px;
    width: 905px;
    height: 385px;
    overflow: hidden;
}

.xlqw .menc1 {
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 902px;
    height: 40px;
    background-color: #000;
    opacity: 0.3;
}

.adbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 902px;
    /* height: 20px; */
    z-index: 2;
    justify-content: space-around;
}

.adbtn a {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 40px;
    line-height: 40px;
    color: #fefd95;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}