body {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
}

.content {
    width: 1200px;
    margin: auto;
}

/* 背景视频 */
.kv {
    position: relative;
    width: 100%;
    height: 1050px;
    background: url(../images/kv2.webp) no-repeat;
    background-position: bottom;
}

.kv-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 音乐logo */
.kv-musiclogo {
    position: absolute;
    top: 35px;
    left: 1125px;
    width: 32px;
    height: 32px;
    background-image: url(../images/spr.png);
    background-position: 71px -220px;
}

/* 进入论坛 */
.kv-enter-forum {
    position: absolute;
    top: 25px;
    left: 1200px;
    width: 160px;
    height: 50px;
    background-image: url(../images/e-spr.png);
    background-position: 0px -60px;
}

/* 进入官网 */
.kv-enter-offweb {
    position: absolute;
    top: 25px;
    left: 1370px;
    width: 160px;
    height: 50px;
    background-image: url(../images/e-spr.png);
    background-position: 0px 0px;
}

/* 播放视频 */
.kv-play {
    display: block;
    position: absolute;
    top: 520px;
    left: 1085px;
    width: 69px;
    height: 69px;
}

.kv-play span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/video.png);
    animation: playRotate 15s linear infinite;
}

.kv-play i {
    position: absolute;
    top: 22px;
    left: 28px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/playvideo.png);
    background-repeat: no-repeat;
}

@keyframes playRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 登录 */
.kv-login {
    position: absolute;
    top: 610px;
    width: 100%;
    height: 20px;
    color: #ff2e3f;
    font-size: 18px;
    text-align: center;
}

.kv-login a {
    color: #3c9ee2;
}

/* 下载 */
.kv-download {
    position: absolute;
    top: 630px;
    left: 750px;
    width: 426px;
    height: 241px;
    background-image: url(../images/codebg.png);
}


.kv-download-left {
    float: left;
}

/* 二维码下载 */
.kv-download-left-erweima {
    width: 155px;
    height: 155px;
    padding: 32px 0 0 32px;
}

.kv-download-left p {
    color: #de4550;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    margin: 5px 0 0 32px;
}

.kv-download-right {
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}

/* apple下载 */
.kv-download-right-apple {
    display: block;
    margin-top: 5px;
    box-sizing: border-box;
    width: 176px;
    height: 55px;
    background-image: url(../images/css_sprites.png);
    background-position: -4px -10px;
}

/* 安卓下载 */
.kv-download-right-android {
    display: block;
    margin-top: 5px;
    width: 176px;
    height: 55px;
    background-image: url(../images/css_sprites.png);
    background-position: -186px -10px;
}

/* PC下载 */
.kv-download-right-PC {
    display: block;
    margin-top: 5px;
    width: 176px;
    height: 55px;
    background-image: url(../images/css_sprites.png);
    background-position: -370px -10px;
}

/* 过渡 */
.kv-guodu {
    width: 100%;
    height: 276px;
    position: absolute;
    top: 820px;
    /* overflow: hidden; */
}


/* 二、主体 */

/* 第1部分 */
.part1 {
    width: 100%;
    height: 743px;
    background: url(../images/part1.webp) no-repeat;
}

/* 1、标题 */
.main-title {
    display: block;
    width: 728px;
    height: 63px;
    background: url(../images/css_sprites.png)no-repeat;
    background-position: -18px -98px;
    margin: auto;
}

/* 2、说明 */
.part1-explain {
    width: 426px;
    height: 60px;
    background: url(../images/part1_p.png) no-repeat;
    margin: auto;
    margin-top: 10px;
}

/* 3、奖励 */
.part1-award {
    position: relative;
    width: 714px;
    height: 262px;
    margin: auto;
    margin-top: 92px;
}

.part1-award li {
    float: left;
    position: absolute;
    text-align: center;
}

/* images */
.part1-award img {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* text */
.part1-award span {
    font-size: 16px;
    color: #29184f;
}

.part1-award .li-1 {
    width: 115px;
    height: 136px;
    top: 95px;
    left: 40px;
}

.part1-award .li-2 {
    width: 120px;
    left: 302px;
    top: 56px;
}

.part1-award .li-2 img {
    width: 110px;
    left: 305px;
    top: 45px;
    margin-bottom: 0px;
}

.part1-award .li-2 span {
    margin-left: 5px;
}

.part1-award .li-3 {
    width: 115px;
    top: 98px;
    right: 10px;
}

/* 4、领取 */
.part1-lingqu {
    display: block;
    width: 215px;
    height: 65px;
    background: url(../images/css_sprites.png);
    background-position: -552px -8px;
    margin: auto;
    margin-top: 84px;
}

/* 第2部分 */
.part2 {
    width: 100%;
    height: 1076px;
    background-image: url(../images/part2.webp);
}
.part2 .content {
    padding-top: 40px;
}

.part2-content {
    position: relative;
}
/* 1、标题  */
.part2 .main-title {
    background-position: -18px -169px;
}

/* 2、说明 */
.part2-explain {
    width: 686px;
    height: 61px;
    background: url(../images/part2_p.png) no-repeat;
    margin: auto;
    margin-top: 30px;
}

/* 3、礼盒 */
.part2-giftbox {
    float: left;
    width: 580px;
    height: 706px;
    position: absolute;
    top: 50px;
    left: 26px;
    z-index: 1;
}

.part2-giftbox li {
    width: 270px;
    height: 346px;
    background: url(../images/css_sprites.png)no-repeat;
    background-position: -904px -446px;
    text-align: center;
}

.part2-giftbox-li1 {
    margin: auto;
    margin-bottom: 20px;
}

.part2-giftbox-li2 {
    float: left;
}

.part2-giftbox-li3 {
    float: right;
}

.part2-giftbox li em {
    display: block;
    padding-top: 46px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.part2-giftbox li img {
    display: block;
    width: 110px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.part2-giftbox li span {
    display: block;
    color: #000;
    font-size: 16px;
}

.part2-giftbox li  {
    display: block;
    color: #000;
    font-size: 16px;
}

.part2-giftbox-get {
    display: block;
    width: 166px;
    height: 55px;
    margin: auto;
    margin-top: 28px;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -1013px -233px;
}

/* 4、npc-tab */
.npc-tab {
    position: relative;
    float: right;
    width: 594px;
    height: 741px;
    margin-top: 50px;
}

.npc-tab .name {
    display: block;
    position: absolute;
    top: 46px;
    right: 46px;
    width: 38px;
    height: 76px;
    background: url(../images/css_sprites.png) no-repeat;
}

.npc-tab .name1 {
    background-position: -961px -223px;
}

.npc-tab .name2 {
    background-position: -915px -227px;
}

.part2-npc1-top {
    position: absolute;
    top: -60px;
    right: -240px;
    width: 924px;
    height: 396px;
    background: url(../images/man1.png) top no-repeat;
}

.part2-npc1-bottom {
    position: absolute;
    top: -60px;
    right: -240px;
    width: 924px;
    height: 816px;
    background: url(../images/man2.png) bottom no-repeat;
    z-index: 0;
}

.part2-npc2-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 915px;
    height: 360px;
    background: url(../images/woman1.png) top no-repeat;
    z-index: 0;
}

.part2-npc2-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 915px;
    height: 381px;
    background: url(../images/woman2.png) bottom no-repeat;
    z-index: 0;
}


/* 与他邂逅 */
.npc-tab-encounter {
    display: block;
    position: absolute;
    top: 55px;
    left: 30px;
    /* top: 105px;
    right: 455px; */
    width: 110px;
    height: 120px;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -1080px -307px;
    outline: none;
}

/* 5、npc切换按钮 */
.npc-control {
    position: absolute;
    right: 436px;
    bottom: -800px;
    width: 127px;
    height: 64px;
}

.npc-control li {
    float: left;
    width: 47px;
    height: 47px;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -795px -350px;
    text-align: center;
    line-height: 47px;
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
}

.npc-control li.active {
    float: left;
    width: 80px;
    height: 64px;
    line-height: 64px;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -856px -342px;
    margin-top: 0;
}


/* 第4部分 */
.part4 {
    width: 100%;
    height: 1244px;
    background-image: url(../images/part4.webp);
    margin-top: -40px;
}

.part4 .content {
    padding-top: 120px;
}

/* 1、标题:每日任务 */
.part4-spr {
    display: block;
    width: 139px;
    height: 39px;
    margin: auto;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -1040px -172px;
}

/* 2、说明 */
.part4-tips {
    width: 745px;
    height: 26px;
    background: url(../images/css_sprites.png)no-repeat;
    background-position: -12px -740px;
    margin: auto;
    margin-top: 10px;
}

/* 3、任务 */
.part4-mission {
    width: 995px;
    height: 332px;
    margin: auto;
}

.part4-mission li {
    float: left;
    width: 115px;
    height: 270px;
    background: url(../images/css_sprites.png) no-repeat;
}

.part4-mission .mrqd{
    margin-left: 0px;
    background-position: -3px -417px;
}

.part4-mission .dlyx{
    margin-left: 61px;
    background-position: -137px -417px;
}

.part4-mission .xhyc{
    margin-left: 61px;
    background-position: -271px -417px;
}

.part4-mission .njyc{
    margin-left: 61px;
    background-position: -405px -417px;
}

.part4-mission .jrlt{
    margin-left: 61px;
    background-position: -543px -417px;
}

.part4-mission .llgw{
    margin-left: 61px;
    background-position: -672px -417px;
}

.part4-mission li span {
    display: block;
    width: 24px;
    height: 106px;
    margin: auto;
    padding-top: 110px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 26px;
}

/* 马上领取 */
.part4-mission-get {
    display: block;
    width: 113px;
    height: 50px;
    background: url(../images/css_sprites.png) no-repeat;
    background-position: -913px -166px;
    margin-top: 68px;
}

/* 抽奖 */
.part4-lottery {
    width: 808px;
    height: 644px;
    margin: auto;
    padding-top: 60px;
    position: relative;
}

.part4-lottery .chance {
    position: absolute;
    left: 347px;
    top: 350px;
    width: 149px;
    height: 45px;
    background: url(../images/spr2.png) no-repeat;
    background-position: -183px -196px;
    z-index: 3;
    margin-top: 60px;
}

.part4-lottery .btn-lottery {
    display: block;
    width: 110px;
    height: 110px;
    background: url(../images/btn-lottery.png) no-repeat;
    position: absolute;
    top: 480px;
    left: 369px;
}

.part4-lottery .history {
    position: absolute;
    left: 368px;
    bottom: 80px;
    width: 113px;
    height: 25px;
    font-size: 14px;
    color: #ef2537;
    line-height: 25px;
    cursor: pointer;
    z-index: 10;
}

/* 第5部分 */
.part5 {
    width: 100%;
    height: 742px;
    background-image: url(../images/part5.webp);
}

.part5 .content {
    position: relative;
    padding-top: 45px;
}

.part5 .main-title {
    background-position: -18px -330px;
}

/* 轮播图 */
.wrapper {
    width: 1073px;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

/* 图片 */
.wrapper .slide{
    position: absolute;
}

/* .wrapper .slide1{
    position: absolute;
    width: 790.64px;
    height: 423.56px;
    top: 30px;
    left: -10px;
    z-index: 2;
}

.wrapper .slide2{
    position: absolute;
    width: 895.93px;
    height: 479.96px;
    top: -2px;
    left: 90px;
    z-index: 3;
}

.wrapper .slide3{
    position: absolute;
    width: 790.64px;
    height: 423.56px;
    top: 30px;
    right: -10px;
    z-index: 2;
}

.wrapper .slide4{
    position: absolute;
    width: 707.33px;
    height: 380.5px;
    top: 30px;
    right: -10px;
    z-index: 1;
} */

.wrapper li img {
    width: 100%;
}


/* 左右切换按钮 */
.prev,.next {
    display: block;
    width: 48px;
    height: 80px;
    position: absolute;
    top: 360px;
    cursor: pointer;
    background: url(../images/css_sprites.png) no-repeat;
}

.prev {
    left: 0;
    background-position: -778px -239px;
}

.next {
    right: 0;
    background-position: -851px -239px;
}

/* 第6部分 */
.part6 {
    width: 100%;
    height: 462px;
    background-image: url(../images/part6.webp);
}

.part6 .content {
    padding-top: 60px;
}

.rule-title {
    display: block;
    width: 138px;
    height: 34px;
    background: url(../images/spr2.png) no-repeat;
    background-position: -371px -196px;
    margin: auto;
}

.rule {
    width: 100%;
    height: 248px;
    background: url(../images/rulebg.png) no-repeat;
    background-position: -11px -10px;
    margin-top: 30px;
    padding-left: 36px;
    padding-top: 40px;
}

.rule li {
    position: relative;
    padding-left: 50px;
    text-align: left;
    font-size: 16px;
    color: #29184f;
    line-height: 28px;
}

.rule li i {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 7px;
    height: 8px;
    background: url(../images/spr2.png) no-repeat;
    background-position: -527px -196px;
}

.rule li::before {
    content: attr(data-num);
    position: absolute;
    top: 0;
    left: 16px;
    width: 35px;
    height: 28px;
    line-height: 28px;
}

/* 三、底部 */
footer {
    width: 100%;
    height: 136px;
    text-align: center;
    background-color: #000;
    overflow: hidden;
    color: #999;
    font-size: 14px;
}

footer p {
    line-height: 1.7;
}

.footer-nav {
    padding-top: 40px;
    box-sizing: border-box;
}

.footer-nav a{
    color: #999;
}


/* 登录弹窗 */
.login-window {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -367.5px;
    width: 735px;
    height: 300px;
    background: url(../images/loginpop.png) no-repeat;
}

.login-cont-title {
    width: 446px;
    height: 30px;
    background: url(../images/spr2.png) no-repeat;
    background-position: -720px -221px;
    display: block;
    margin: auto;
    margin-top: 30px;
    text-indent: -9999px;
}

/* .login-window .wx a {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */
.login-cont ul {
    width: 364px;
    height: 178px;
    margin: auto;
    margin-top: 22px;
}

.login-cont ul li {
    float: left;
    width: 141px;
    height: 100%;
    position: relative;
}

.login-cont ul .qq {
    margin-left: 80px;
}

.login-cont li span {
    display: block;
    width: 48px;
    height: 23px;
    margin: auto;
    background: url(../images/spr2.png) no-repeat;
    margin-top: 13px;
    text-indent: -9999px;
}

.login-cont .wx span {
    background-position: -183px -256px;
}

.login-cont .qq span {
    background-position: -238px -254px;
}

/* 关闭 */
.login-close {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/spr2.png) no-repeat;
    background-position: -292px -256px;
    position: absolute;
    right: 83px;
    top: -18px;
}

/* 背景变暗 */
#overlar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 5431px;
    background-color: #000;
    opacity: 0.5;
    z-index: 9998;
}