* {
    margin: 0;
    padding: 0;
}
.kv {
    /* position: relative; */
    height: 1416px;
    background: url(../images/bg-1.jpg) no-repeat center 0;
}
.kv-bg {
    display: block;
    height: 938px;
    margin-top: -100px;
    min-width: 1600px;
    max-width: 1920px;
    background: url(../images/pagedetail-kv.jpg) no-repeat center 0;
}