* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
/* 顶部导航 */
.nav {
    width: 100%;
    height: 147px;
    position: absolute;
    /* top: 100px; */
    background: url(../images/nav-bg.png) repeat-x center top;
    z-index: 10;
}

.nav-wrap {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.item1 {
    float: left;
}

.nav-logo {
    display: inline-block;
    width: 241px;
    height: 0;
    padding-top: 147px;
    background: url(../images/logo-top.png) no-repeat;
    overflow: hidden;
}

.nav-list {
    margin-left: 20px;
    margin-top: 23px;
}

.nav-list li {
    line-height: 20px;
    float: left;
}

.nav-list li>a {
    display: inline-block;
    width: 81px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
}

.list-item1 a {
    background: url(../images/icon.png) no-repeat -10px -10px;
}
.list-item1 a:hover {
    background: url(../images/icon.png) no-repeat -10px -35px;
}
.list-item2 a {
    background: url(../images/icon.png) no-repeat -100px -10px;
}
.list-item2 a:hover {
    background: url(../images/icon.png) no-repeat -100px -35px;
}
.list-item3 a {
    background: url(../images/nav-xmtj.png) no-repeat;
}
.list-item3 a:hover {
    background: url(../images/nav-active-xmtj.png) no-repeat;
}

.list-item4 a {
    background: url(../images/sprite.png) no-repeat 0px -145px;
}
.list-item4 a:hover {
    background: url(../images/nav-active-xiuxian.png) no-repeat;
}

.list-item5 a {
    background: url(../images/nav-taikoo.png) no-repeat;
}
.list-item5 a:hover {
    background: url(../images/icon.png) no-repeat -373px -35px;
}

.list-item6 a {
    background: url(../images/icon.png) no-repeat -191px -10px;
}
.list-item6 a:hover {
    background: url(../images/icon.png) no-repeat -191px -35px;
}

.nav-list li:after {
    content:'/';
    color: #9bc0de;
    font-size: 20px;
    text-indent: 0;
    vertical-align: middle;
    margin: 0 20px;
}

.nav-list .list-item6:after {
    content:''; 
}

/* 进入论坛 */
.nav-forum {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/icon.png) no-repeat -10px -60px;
    margin-top: -10px;
    margin-left: -10px;
}

.nav-appoint {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/left-nav-download.png);
    margin: -10px -100px 0 10px;
}





/* 主体 */
.content-fairy {
    position: relative;
    width: 100%;
    height: 1227px;
    padding-top: 130px;
    margin: 0 auto;
    background: url(../images/fairy-more.webp) no-repeat;
}

.fairy-job {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    width: 1400px;
    height: 670px;
    margin: 18px auto;
    font-weight: 500;
}

.job-tab {
    position: absolute;
    right: 40px;
    width: 112px;
    cursor: pointer;
    font-size: 27px;
}

.fairy-tab-btn-bg {
    width: 112px;
    height: 48px;
    color: #618ed5;
    margin-bottom: 38px;
    line-height: 48px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -209px -111px;
    text-align: center;
}

.active {
    color: #fff;
    background-position: -208px -170px;
}

.content-fairy .qr-page {
    position: absolute;
    bottom: 20px;
}

.qr-page .qr-list {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 1098px;
    height: 219px;
    margin: 0 400px;
    /* background-color: green; */
}

.qr-list li {
    display: inline-block;
    text-align: center;
    color: #2a6389;
    font-size: 20px;
}

.qr-list li:not(:last-of-type) {
    margin: 0 25px 0 0;
}

.qr-list li > a {
    display: block;
    width: 237px;
    padding-top: 180px;
}

.qr-list li .qr-gzh {
    background: url(../images/icon.png);
    background-position: -585px -10px;
}

.qr-list li .qr-yxq {
    background: url(../images/icon.png);
    background-position: -585px -205px;
}

.qr-list li .qr-xqbl {
    background: url(../images/icon.png);
    background-position: -585px -400px;
}

.qr-list li .qr-tieba {
    background: url(../images/icon.png);
    background-position: -585px -595px;
}


/* 底部 */

footer {
    width: 100%;
    height: 175px;
    background-color: #282828;
    background-repeat: repeat-x;
}

footer .foot {
    position: relative;
    padding-top: 20px;
    width: 1200px;
    height: 175px;
    /* background-color: red; */
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    color: #494949;
    font: 12px/20px "微软雅黑","宋体";
}

.foot-cpright {
    width: 1200px;
    height: 155px;
    margin-top: 15px;
}

.foot-left {
    float: left;
    /* display: inline; */
}

.foot-left .foot-ieg-logo {
    float: left;
    width: 180px;
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 10px 0 0 10px;
    background: url(../images/foot-dark.png);
}

.foot-right {
    float: right;
    width: 685px;
    height: 125px;
    /* background-color: green; */
}

.foot li {
    color: #8c8c8c;
}

.foot li a {
    color: #8c8c8c;
}