* {
    margin: 0;
    padding: 0;
}
/* 顶部导航 */
.nav {
    width: 100%;
    height: 147px;
    position: absolute;
    /* top: 100px; */
    background: url(../images/nav-bg.png) repeat-x center top;
    z-index: 10;
}

.nav-wrap {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.item1 {
    float: left;
}

.nav-logo {
    display: inline-block;
    width: 241px;
    height: 0;
    padding-top: 147px;
    background: url(../images/logo-top.png) no-repeat;
    overflow: hidden;
}

.nav-list {
    margin-left: 20px;
    margin-top: 23px;
}

.nav-list li {
    line-height: 20px;
    float: left;
}

.nav-list li>a {
    display: inline-block;
    width: 81px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
}

.list-item1 a {
    background: url(../images/icon.png) no-repeat -10px -10px;
}
.list-item1 a:hover {
    background: url(../images/icon.png) no-repeat -10px -35px;
}
.list-item2 a {
    background: url(../images/icon.png) no-repeat -100px -10px;
}
.list-item2 a:hover {
    background: url(../images/icon.png) no-repeat -100px -35px;
}
.list-item3 a {
    background: url(../images/nav-xmtj.png) no-repeat;
}
.list-item3 a:hover {
    background: url(../images/nav-active-xmtj.png) no-repeat;
}

.list-item4 a {
    background: url(../images/sprite.png) no-repeat 0px -145px;
}
.list-item4 a:hover {
    background: url(../images/nav-active-xiuxian.png) no-repeat;
}

.list-item5 a {
    background: url(../images/nav-taikoo.png) no-repeat;
}
.list-item5 a:hover {
    background: url(../images/icon.png) no-repeat -373px -35px;
}

.list-item7 a {
    background: url(../images/sprite.png) no-repeat 0px -80px;
}
.list-item7 a:hover {
    background: url(../images/nav-active-cdk.png) no-repeat;
}

.nav-list li:after {
    content:'/';
    color: #9bc0de;
    font-size: 20px;
    text-indent: 0;
    vertical-align: middle;
    margin: 0 20px;
}

.nav-list .list-item7:after {
    content:''; 
}

/* 进入论坛 */
.nav-forum {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/icon.png) no-repeat -10px -60px;
    margin-top: -10px;
    margin-left: -10px;
}

.nav-appoint {
    display: inline-block;
    overflow: hidden;
    width: 168px;
    padding-top: 55px;
    background: url(../images/left-nav-download.png);
    margin: -10px -100px 0 10px;
}


/* 二、kv */

.kv-page {
    position: relative;
    min-width: 1600px;
    height: 938px;
    /* overflow: hidden; */
    margin: 0 auto;
}

.kv-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 938px;
    margin-left: -960px;
    background: url(../images/pagedetail-kv.jpg) no-repeat center 0;
}

.kv-cloud {
    position: absolute;
    left: 0;
    bottom: -320px;
    width: 100%;
    height: 1256px;
    background: url(../images/kv-cloud.png) no-repeat center;
    z-index: 1;
}


/* 三、content */

.wrapper .content-wrap {
    position: relative;
    display: block;
    width: 1200px;
    height: 910px;
    margin: auto;
    box-sizing: border-box;
    margin-top: -520px;
    overflow: hidden;
    z-index: 1;
}
.wrapper {
    background: url(../images/newsdetail-bg.png) repeat-y center -190px;
    padding-top: 190px;
}

/* 左边导航 */
.left-nav {
    display: block;
    position: absolute;
    top: 0;
    width: 200px;
    height: 574px;
    background: url(../images/inpage-nofans.png) no-repeat;
    box-sizing: border-box;
    padding: 10px;
}

.left-nav ul {
    display: block;
}

.left-nav li {
    height: 40px;
    margin-top: 20px;
}

.left-nav li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

.left-nav li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -84px;
    width: 168px;
    height: 7px;
    background: url(../images/inpage-icon.png) no-repeat -10px -210px;
}

.left-nav li a:hover:after {
    background: url(../images/inpage-icon.png) no-repeat -10px -196px;
}

.left-nav li i {
    width: 82px;
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
}

.nav-item1 i {
    background: url(../images/inpage-icon.png) no-repeat -10px -35px;
}

.nav-item1 a:hover i {
    background: url(../images/inpage-icon.png) no-repeat -10px -10px;
}

.nav-item1.on i {
    background: url(../images/inpage-icon.png) no-repeat -10px -10px;
}

.nav-item2 i {
    background: url(../images/inpage-icon.png) no-repeat -100px -35px;
}

.nav-item2 a:hover i {
    background: url(../images/inpage-icon.png) no-repeat -100px -10px;
}

.nav-item2.on i {
    background: url(../images/inpage-icon.png) no-repeat -100px -10px;
}

.nav-item3 i {
    background: url(../images/left-nav-xiuxian.png) no-repeat;
}

.nav-item3 a:hover i {
    background: url(../images/left-nav-active-xiuxian.png) no-repeat;
}

.nav-item3.on i {
    background: url(../images/left-nav-active-xiuxian.png) no-repeat;
}

.left-qr {
    position: relative;
    width: 158px;
    height: 158px;
    margin: 25px 0 30px 12px;
    text-align: center;
    background: url(../images/kv-qr.png) no-repeat 0 0/100%;
}

.left-qr-line {
    position: absolute;
    z-index: 1;
    right: -3px;
    width: 165px;
    height: 9px;
    animation: leftqrline 2s linear infinite alternate;
}

.left-qr p {
    position: absolute;
    left: 5px;
    bottom: -26px;
    font-size: 18px;
    color: #488bc2;
}

/* 进入论坛 */
.leftnav-forum {
    display: block;
    width: 168px;
    height: 55px;
    background: url(../images/left-nav-enter.png) no-repeat;
    margin: 40px 0 2px 6px;
    text-indent: -9999px;
}

/* 立即下载 */
.leftnav-download {
    display: block;
    width: 168px;
    height: 55px;
    background: url(../images/left-nav-download1.png) no-repeat;
    margin-left: 6px;
    text-indent: -9999px;
}


/* 右边内容 */
.right-content {
    float: right;
    width: 980px;
    margin-left: 215px;
    min-height: 900px;
    background-color: #fff;
    padding: 0 0 10px 0;
}

.content-title {
    width: 100%;
    height: 120px;
    line-height: 35px;
    padding: 42px 35px;
    background: url(../images/inpage-title.webp) no-repeat;
    box-sizing: border-box;
}

.content-title h2 {
    display: inline-block;
    width: 147px;
    height: 35px;
    background: url(../images/inpage-icon.png) no-repeat -10px -60px;
    text-indent: -9999px;
}

.content-title span {
    float: right;
    color: #fff;
    font-size: 14px;
}

.content-title span a {
    color: #fff;
}

/* 内容  */
.tab-wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
}
/* 列表导航 */
.tab-nav {
    overflow: hidden;
    border-bottom: 1px solid #d6dce0;
    padding-bottom: 8px;
}

.tab-nav-list li {
    position: relative;
    float: left;
    width: 110px;
    font-size: 18px;
    text-align: center;
    margin-right: 165px;
}

.tab-nav-list li:last-child {
    margin-right: 0;
}

.tab-nav-list .on:before {
    content: '';
    display: block;
    width: 110px;
    height: 9px;
    position: absolute;
    top: 4px;
    left: 0;
    background: url(../images/inpage-icon.png) no-repeat -10px -180px;
}

.tab-nav-list .on>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #037dca;
}

/* 列表项 */
.tab-list>ul {
    display: block;
    width: 100%;
    height:600px;
    overflow: hidden;
    /* box-sizing: border-box; */
}

.tab-list li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-bottom: 1px dashed #d6dce0;
}
.tab-list li a {
    color: #000;
}

.tab-list li a.text:hover {
    text-decoration: underline;
  }

.tab-list li>a.notice {
    display: inline-block;
    vertical-align: top;
}

.tab-list .time {
    float: right;
    margin-right: 8px;
}

/* 分页按钮 */
/* .tab-paging {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 34px;
    background-color: #fff;
}

.laypage-main {
    clear: both;
    display: block;
    width: 100%;
    height: 100%;
}

.laypage-main a {
    display: block;
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 1px 6px;
    padding: 0 10px;
    width: 85px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.laypage-curr {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    color: red;
    border: 0;
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    border: 0;
    margin-right: 10px;
    color: red;
} */

.tab-paging {
    width: 940px;
    height: 34px;
    line-height: 34px;
    margin-top: 30px;
    text-align: center;
    /* background-color: paleturquoise; */
}

.laypage-main a {
    display: inline-block;
    width: 85px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ccc;
    background-color: #fff;
    clear: both;
    padding: 0 10px;
    margin: 0 2px;
}

.tab-paging .paging-active {
    /* display: inline-block; */
    width: 28px;
    line-height: 28px;
    border: 0;
    padding: 0;
    font-weight: 700;
}